<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springsource.org/dtd/spring-beans.dtd">

<!--+
  | Application context containing authorization beans.
  +-->

<beans>

  <bean id="roleVoter" class="org.springframework.security.vote.RoleVoter">
    <property name="rolePrefix" value="" />
  </bean>

</beans>